/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/*link e icone*/ 

i{
    padding: 0px 6px;
}

a{
    color: white;
    font-style: normal;
    text-decoration: none;
    padding-right: 5px;
}

.heart_black{
    color: #000000;
}

.heart_black:hover{
    color: red;
}

/*Text*/

.text_black{
    font-size: 14px;
    color: #000000;
}
.text_red{
    color: red;
}

.text-black_items{
    display: block;
    font-size: 16px;
    color: #000000;
}

/*Header*/

#header{ 
    position: sticky;
    top: 0%;
    background-color: #FE6900;
}

.contenitore_header{
    /*Regole Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;;
    color: white;
    margin: 0 auto;
    width: 70%;
    /*DEBUG*/
    background-color: #FE6900;
}

.logo_boolean{
    height: 30px;
    margin-right:85px;
}

/*Main*/

.contenitore{
    /*Regole Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

    width: 70%;
    margin: 40px auto;

    /*DEBUG*/
    /*background-color: rgb(148, 49, 49);*/
}

/*Card*/

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    padding: 10px 0px;
    width: 32%;
    /*DEBUG*/
    /*background-color: rgb(44, 5, 66);*/
}

/*hover*/

.img_sopra{
    transform: translate(0,-6.3%);
    max-width: 100%;
    position: absolute;
    display: block;
    opacity: 0;
}

.inline{
    display: inline-block;
}

.card:hover .img_sopra {
    opacity: 1;
}

.img_sotto{
    max-width: 100%;
    display: block;
    opacity: 1;
}

/*Sezione Card*/

.heart{
    position: absolute;
    left:90%;
    top: 5%;
    text-align: center;
    padding-top: 5px;
    color: #000000;
    background-color: white;
    width: 40px;
    height: 40px;
}

.label{
    position: absolute;
    text-align: center;
    padding-top: 5px;
    top:75%;
    width: 50px;
    height:30px;
    background-color: red;
}

.sostenibilità{
    left: 55px;
    width: 100px;
    background-color: #008304;
}

.left{
    left: 0px;
}

/*footer*/

#footer{
    background-color: #000000;
}

.contenitore_footer{
    /*Regole Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;;
    color: white;
    margin: 0 auto;
    width: 70%;
    /*DEBUG*/
    background-color: #000000;
}

div>a{
    font-size: 8px;
}
div>i{
    padding-top: 10px;
}
